* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	max-width: 100%;
}

#root,
.app {
	height: 100vh;
}

.app {
	display: flex;
	position: relative;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.jumbotron {
	padding: 6rem;
	text-align: center;
	background-color: #475b63;
	color: white;
	font-size: 60px;
	max-width: 100%;
	border-radius: 1.5rem;
	margin-bottom: 16px;
}

.jumbotron span {
	font-weight: initial;
	font-size: 30px;
}

.app main {
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	background-color: #2e2c2f;
	color: white;
}

.login-form {
	padding: 1em;
}

.student-col {
	display: grid;
	min-width: 30vh;
}

#teacher-col {
	display: flex;
}

.pro-sidebar-footer {
	text-align: center;
}

.container {
	display: flex;
}

.dropdown #dropdown-basic-button {
	width: 100%;
	height: 100%;
}

.dropdown-menu {
	height: 200px;
	overflow-y: scroll;
}

.home-cols {
	background-color: #729b79;
	padding-top: 1rem;
	padding-bottom: 2rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-radius: 1.5rem;
	margin-left: 15%;
	margin-right: 15%;
}

.home-cols > p {
	text-align: center;
}

.home-why {
	background-color: #bacdb0;
	color: black;
	padding-top: 1rem;
	padding-bottom: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 1.5rem;
	margin-left: 15%;
	margin-right: 15%;
}

.home-why > p {
	text-align: center;
}

p > a {
	color: #0060b6;
	text-decoration: none;
}

p > a:hover {
	color: #00a0c6;
	text-decoration: none;
	cursor: pointer;
}

.sidebar-footer {
	padding: 1rem;
}

.pro-sidebar-header h1 {
	font-family: 'Rock Salt', cursive;
	padding: .5rem;
}

.rock-salt-font {
	font-family: 'Rock Salt', cursive;
}

#add-student-button {
	width: 8rem;
	margin-left: auto;
	margin-right: auto;
}

.home-footer {
	border-radius: 1.5rem;
}
