body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	max-width: 100%;
}

#root,
.app {
	height: 100vh;
}

.app {
	display: flex;
	position: relative;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
	text-align: center;
}

main h1 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

header {
	padding: 60px;
	text-align: center;
	background: #475b63;
	color: white;
	font-size: 30px;
	max-width: 100%;
}

.app main {
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	background-color: #2e2c2f;
	color: white;
}

.login-form {
	padding: 1em;
}

.student-col {
	display: grid;
	min-width: 30vh;
}

#teacher-col {
	display: flex;
}

.pro-sidebar-footer {
	text-align: center;
}

h2 {
	text-align: center;
}

.container {
	display: flex;
}

.dropdown #dropdown-basic-button {
	width: 100%;
	height: 100%;
}

.dropdown-menu {
	height: 200px;
	overflow-y: scroll;
}
